<p> 1) Sing up - create user by mail </p>
<p> 2) loggin in user account - use Loggin </p>
<p> 3) Home - to describe the application </p>
<p> 4) Purchases - your shopping list </p>
<p>   - filtering by parameters</p>
<p>   - statistics by date</p>
<p>   - REST options</p>
<p> 5) Log out - for end session </p>
<p>for test use: bundle exec rspec</p>
